{% extends 'base.html' %}
{% block head %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@altcensored">
<meta name="twitter:creator" content="@altcensored">

<meta property="og:description" content="'we show what they hide'">
<meta property="og:type" content="article">
<meta property="og:image" content="https://{{ config['MYSERVER_NAME'] }}/logo_clip.gif">
<meta property="og:url" content="https://{{ config['MYSERVER_NAME'] }}">
<meta property="og:title" content="{{ videocount | viewdisplay }}+ Limited State/Deleted Videos; {{ delchannelcount | viewdisplay }} Deleted Channels">

{% endblock %}
{% block content %}

{#

  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-2-24"></div>
      <div class="pure-u-1 pure-u-md-20-24">
        <div class="pure-g h-box">
          <div class="pure-u-1-4"></div>
            <div class="pure-u-1 pure-u-md-1-2">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <a href="{{ url_for(navtabs["tab1"] + '.index') }}"style="text-align:center;" class="pure-menu-heading">
                    {{ gettext(navtabs["tab1"]) }}
                  </a>
                </div>          
                <div class="pure-u-1-3">
                  <a href="{{ url_for(navtabs["tab2"] + '.index') }}"style="text-align:center;" class="pure-menu-heading">
                    {{ gettext(navtabs["tab2"]) }}
                  </a>
                </div>       
                <div class="pure-u-1-3">
                  <a href="{{ url_for(navtabs["tab3"] + '.index') }}"style="text-align:center;" class="pure-menu-heading">
                    {{ gettext(navtabs["tab3"]) }}
                  </a>
                </div>  
              </div>
            </div>
          <div class="pure-u-1-4"></div>
        </div>
      </div>
    <div class="pure-u-1 pure-u-md-2-24"></div>
  </div>
</div>
</div>

#}

<br>

  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-2-24"></div>
      <div class="pure-u-1 pure-u-md-20-24">
        <div class="pure-g">

            <div class="pure-u-1 pure-u-md-1-1">
              <div class="h-box">

                <form name=get_language method="post">
                  <p> {{ gettext('Language') }}:
                  <select name=locale>
                    <option value= "{{locale}}" SELECTED>{{locale}}</option>"
                    {% for language in languages %}
                    <option value= "{{language}}">{{language}}</option>"
                    {% endfor %}
                  </select>
                  <p> {{ gettext('Theme') }}:
                  <select name=theme>
                    <option value= "{{theme}}" SELECTED>{{theme}}</option>"             
                    {% for theme in themes %}
                    <option value= "{{theme}}">{{theme}}</option>"
                    {% endfor %}
                  </select>
                  <p> {{ gettext('Nav Menu') }}:
                  <select name=tab1_value>
                    <option value= "{{navtabs["tab1"]}}" SELECTED>{{navtabs["tab1"]}}</option>"   
                    {% for tab1_value in tab1_values %}
                    <option value= "{{tab1_value}}">{{tab1_value}}</option>"
                    {% endfor %}
                  </select>
                  <select name=tab2_value>
                    <option value= "{{navtabs["tab2"]}}" SELECTED>{{navtabs["tab2"]}}</option>"   
                    {% for tab2_value in tab2_values %}
                    <option value= "{{tab2_value}}">{{tab2_value}}</option>"
                    {% endfor %}
                  </select>
                  <select name=tab3_value>
                    <option value= "{{navtabs["tab3"]}}" SELECTED>{{navtabs["tab3"]}}</option>"   
                    {% for tab3_value in tab3_values %}
                    <option value= "{{tab3_value}}">{{tab3_value}}</option>"
                    {% endfor %}
                  </select>
                  <p>
                  <input type="submit" name="submit" value="{{ gettext('Save') }}">
                </form>
                {% if session.user %}
                <br>
                <a href="{{ url_for('history.index') }}">
                    {{ gettext('Watch History') }}
                </a>
                <br>
                <br>
                <a href="{{ url_for('history.clear_watch_history') }}">
                    {{ gettext('Clear Watch History') }}
                </a>
                {% endif %}
                <br>
{#                {{ navtabs["tab3"]|pprint}}
                {{ navtab2|pprint}}
#}
              </div>
            </div>

        </div>
      </div>
    <div class="pure-u-1 pure-u-md-2-24"></div>
  </div>   

{% endblock %}