{% extends 'base.html' %}
{% block head %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@altcensored">
<meta name="twitter:creator" content="@altcensored">

<meta property="og:description" content="'we show what they hide'">
<meta property="og:type" content="article">
<meta property="og:image" content="https://{{ config['MYSERVER_NAME'] }}/logo_clip.gif">
<meta property="og:url" content="https://{{ config['MYSERVER_NAME'] }}">
<meta property="og:title" content="{{ videocount | viewdisplay }}+ Limited State/Deleted Videos; {{ delchannelcount | viewdisplay }} Deleted Channels">

{% endblock %}
{% block content %}
{% with active_nav='settings' %}
    {% include "widgets/navtabs.html" %}
{% endwith %}

<br>
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-2-24"></div>
  <div class="pure-u-1 pure-u-md-20-24">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-1">
        <div class="h-box">
          <form class="pure-form pure-form-aligned" name=get_language method="post">
            <fieldset>
              <div class="pure-control-group">
                <label for="Language"> {{ gettext('Language') }}:</label>
                <select name=locale>
                  <option value="{{locale}}" SELECTED>{{locale}}</option>"
                  {% for locale in locales %}
                  <option value="{{locale}}">{{locale}}</option>"
                  {% endfor %}
                </select>
              </div>
              <div class="pure-control-group">
                <label for="Theme"> {{ gettext('Theme') }}: </label>
                <select name=theme>
                  <option value="{{theme}}" SELECTED>{{theme}}</option>"             
                  {% for theme in themes %}
                  <option value="{{theme}}">{{theme}}</option>"
                  {% endfor %}
                </select>
              </div>
              <div class="pure-control-group">
                <label for="Menu"> {{ gettext('Menu') }}:</label>
                <select name=navtab1_value>
                  <option value="{{navtabs["navtab1"]}}" SELECTED>{{navtabs["navtab1"]}}</option>"   
                  {% for navtab1_value in navtab1_values %}
                  <option value="{{navtab1_value}}">{{navtab1_value}}</option>"
                  {% endfor %}
                </select>
                <select name=navtab2_value>
                  <option value="{{navtabs["navtab2"]}}" SELECTED>{{navtabs["navtab2"]}}</option>"   
                  {% for navtab2_value in navtab2_values %}
                  <option value="{{navtab2_value}}">{{navtab2_value}}</option>"
                  {% endfor %}
                </select>
                <select name=navtab3_value>
                  <option value="{{navtabs["navtab3"]}}" SELECTED>{{navtabs["navtab3"]}}</option>"   
                  {% for navtab3_value in navtab3_values %}
                  <option value="{{navtab3_value}}">{{navtab3_value}}</option>"
                  {% endfor %}
                </select>
              </div>
              {% if session.user %}
              <br>
              <br>
              {{ session.user.email }}
              {% if session.user.email_verified %}
              {% else %}
              &nbsp;&nbsp;<b>{{ gettext('(Not Verified)') }}</b>
              {% endif %}
              <hr>
              <div class="pure-control-group">
                <label for="Username"> {{ gettext('Username') }}:</label>
                {% if session.user.username %}
                <input type="text" id="username" value="{{ session.user.username }}" name="username" maxlength="18">
                {% else %}
                <input type="text" id="username" placeholder="Username" name="username" maxlength="18">
                {% endif %}
              </div>
              <div class="pure-control-group">
                <label for="Description"> {{ gettext('Description') }}:</label>
                {% if session.user.description %}
                <input type="text" id="description" value="{{ session.user.description }}" name="description" maxlength="50">
                {% else %}
                <input type="text" id="description" placeholder="Description" name="description" maxlength="50">
                {% endif %}
              </div>
              <div class="pure-control-group">
                <label for="Public"> {{ gettext('User Public') }}:</label>
                <select name=public>
                  <option value= "{{session.user.public}}" SELECTED>{{session.user.public}}</option>"     
                  {% if session.user.public %}
                  <option value=False>False</option>"
                  {% else %}
                  <option value=True>True</option>"
                  {% endif %}
                </select>
              </div>
              <a href="{{ url_for('user.history') }}">
                {{ gettext('History') }}
              </a>
              <br>
              <a href="{{ url_for('user.clear_watch_history') }}">
                {{ gettext('Clear History') }}
              </a>
              <br>
              <a href="{{ url_for('auth.delete') }}">
                {{ gettext('Delete Account') }}
              </a>
              {% endif %}
              <div class="pure-controls">
                <input type="submit" name="submit" value="{{ gettext('Save') }}">
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>   

{% endblock %}