{% extends 'base.html' %}
{% block head %}

<link rel="alternate" type="application/rss+xml" title="{{ config['MYSERVER_NAME_SHORT'] }}:Channels:{{ channel['title'] }}" \
href="https://{{ config['MYSERVER_NAME'] }}/channel/{{ channel['extractor_data'] }}/feed">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@altcensored">
<meta name="twitter:title" content="{{ channel['title'] ~ ' Channel ' ~ '(' ~ channel['limited'] ~' Censored Videos' ~ ')' }}">
<meta name="twitter:description" content="{{ channel['description'] }}">
<meta name="twitter:image" content="{{ config.ACIPROXY ~ config.VIDEOSERVER_URL ~ channel['thumbnail_ytdlp']  }}">

<meta property="og:site_name" content="{{ config['MYSERVER_NAME'] }}">
<meta property="og:url" content="https://{{ config['MYSERVER_NAME'] }}/channel/{{ channel['extractor_data'] }}">
<meta property="og:title" content="{{ channel['title'] ~ ' Channel ' ~ '(' ~ channel['limited'] ~' Censored Videos' ~ ')' }}">
<meta property="og:description" content="{{ channel['description'] | truncate(140) | e }}">
<meta property="og:type" content="article">
<meta property="og:image" content="{{ config.ACIPROXY ~ config.VIDEOSERVER_URL ~ channel['thumbnail_ytdlp'] }}">
<meta property="og:image:secure_url" content="{{ config.ACIPROXY ~ config.VIDEOSERVER_URL ~ channel['thumbnail_ytdlp']  }}">

<meta name="altcen_title" content="{% block title %}{{ channel['title'] | striptags | truncate(length=56,killwords=False,end='',leeway=0) }}{% endblock %}">
<meta name="altcen_meta_description" content="{% block description %}Limited Censored YouTube Video Channel: {{ channel['title'] }}: {{ channel['description'] }} (Created on {{ channel['published_at'].strftime('%b %e, %G') if channel['published_at'] else '' }}){% endblock %}">

{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/shareon.iife.js') }}" defer init></script>
    {% with active_nav='channel' %}
        {% include "widgets/navtabs.html" %}
    {% endwith %}
    <br>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-2-24"></div>
        <div class="pure-u-1 pure-u-md-20-24">
          <div class="pure-u-1 pure-u-md-1-2">
            <div class="h-box">
              <div class="pure-g">
                <div class="pure-u-1-2">
                  <div class="thumbnail">
<!--
                      <img class="thumbnail" src="{{ channel['ytc_thumbnailurl'] | reverse | replace('88','671', 1) | reverse  }}"
                      onerror="this.onerror=null;this.src='https://{{ config['MYSERVER_NAME'] }}/channel_unnamed.jpg';" >
-->
                      <img class="channel-thumb" src="{{ config.ACIPROXY ~ config.VIDEOSERVER_URL ~ channel['thumbnail_ytdlp'] }}"
                           onerror="this.onerror=null;this.src='{{ config.CHANNEL_THUMB_ERROR_IMAGE }}';">
                  </div>
                </div>
                <div class="pure-u-1-2">
                  <div class=header_left>
                    <b>
                    &nbsp;{{ gettext('Censored') }}: {{ channel['limited']|commafy }}</b><br>
                     {% if not channel['deleted'] %}
                      &nbsp;{{ gettext('Archived') }}: {{ channel['archived']|commafy }}<br>
                     {% endif %}
                      &nbsp;{{ gettext('Total') }}: {{ channel['total']|commafy }}<br>
                    &nbsp;{{ gettext('Views') }}: {{ channel['view_count']|commafy }}<br>
                    &nbsp;{{ gettext('Subscribers') }}: {{ channel['channel_follower_count']|commafy }}<br>
                    {% if channel['deleted'] %}
                    {% else %}

                    {% endif %}
                    &nbsp;<b><a style="width:100%;" href="https://youtube.com/channel/{{ channel['extractor_data'] }}" target="_blank">YouTube {{ gettext('Channel') }}</a></b><br>
                    &nbsp;<b><a style="width:100%;" href="https://socialblade.com/youtube/channel/{{ channel['extractor_data'] }}" target="_blank">SocialBlade {{ gettext('Stats') }}</a></b>
                  <p></p>
                      <b>&nbsp;{{ gettext('Created:') }} {{ channel['published_at'].strftime('%b %e, %G') if channel['published_at'] else '' }}</b><br>
                      &nbsp;{{ gettext('Added') }}: {{ channel['added_date'].strftime('%b %e, %G') if channel['added_date'] else '' }}<br>
                       {% if channel['deleted'] %}
                         <span style="color: red; ">
                             <b>&nbsp;{{ gettext('Deleted:') }} {{ channel['deleted_date'].strftime('%b %e, %G') if channel['deleted_date'] else '' }}</span></b>
                       {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="pure-u-1 pure-u-md-1-1">
            <div class="h-box">
            <a href="{{ url_for('channel.item', ytc_id=channel['extractor_data']) }}">
                <h3>{{ channel['title'] }}</h3></a>
            {% if channel['deleted'] %}
            <div class="shareon" data-url="https://{{ config['MYSERVER_NAME'] }}/channel/{{ channel['extractor_data'] }}"
                 data-title="YouTube Channel {{channel['title']|truncate(60,False,'')|pprint}} TERMINATED {{channel['deleted_date'].strftime('%m/%d/%y') if channel['deleted_date'] else ''}}; {{channel['limited']}} Censored Videos #RemovedFromYouTube #FreeSpeech
(Watch/Share #Censored videos: together we show what they hide)">
            {% elif channel['limited'] %}
            <div class="shareon" data-url="https://{{ config['MYSERVER_NAME'] }}/channel/{{ channel['extractor_data'] }}"
                 data-title="YouTube Channel {{channel['title']|truncate(60,False,'')|pprint}} being Archived in case of Removal; {{channel['limited']}} #Censored Videos
(Videos Appear if #RemovedFromYouTube: we show what they hide) #FreeSpeech">
            {% else %}
            <div class="shareon" data-url="https://{{ config['MYSERVER_NAME'] }}/channel/{{ channel['extractor_data'] }}"
                 data-title="YouTube Channel {{channel['title']|truncate(60,False,'')|pprint}} being Archived in case of Removal
(Videos Appear if #RemovedFromYouTube: we show what they hide) #FreeSpeech">
            {% endif %}
              <a class="facebook" data-fb-app-id="225377455209362" data-hashtags="RemovedFromYouTube"></a>
              <a class="twitter" ></a>
              <a class="telegram"</a>
              <a class="copy-url"></a>
              <a class="whatsapp"></a>
              <a class="email"></a>
            </div>

                  {% if channel['description']  is not none %}
                      {{ channel['description'] | truncate(1000) | linkify | safe | nl2br }}
                  {% endif %}
            </div>
        <div class="pure-g h-box">
            <div class="pure-u-10-24">
                <div class="pure-u-1 pure-md-1-2">
                </div>
                <div class="pure-u-1 pure-md-1-2">
                    <i class='ion-logo-youtube'  style="font-size: 24px"></i>
                    <a href="{{ url_for('channel.item', ytc_id=channel['extractor_data']) ~ '/feed' }}">
                        <i class='ion-logo-rss' style="font-size: 21px"></i>
                    </a>
                    <b>&nbsp;{{ videocount | commafy }}</b>
                </div>
            </div>
            <div class="pure-u-4-24" style="text-align:center;">
                <div class="pure-u-1 pure-md-1-1">
                </div>
            </div>
            <div class="pure-u-10-24" style="text-align:right;">
                <div class="pure-u-1 pure-md-1-2">
                    <a href="{{ url_for('channel.item', ytc_id=channel['extractor_data']) }}" class="pure-menu-item {{'selected' if order == 'newest' }}">
                        {{ gettext('newest') }}</a>
                </div>
                <div class="pure-u-1 pure-md-1-2">
                    <a href="{{ url_for('channel.item_popular', ytc_id=channel['extractor_data']) }}" class="pure-menu-item {{'selected' if order == 'popular' }}">
                        {{ gettext('popular') }}</a>
                </div>
            </div>
        </div>
        <div class="h-box">
            <hr>
        </div>
        </div>
    </div>
    </div>

    {% with video=video, watchlater=watchlater, hide_channel=true %}
        {% include "widgets/videos.html" %}
    {% endwith %}

    {% from "_helpers.html" import render_pagination %}
    <div class="pure-u-1 pure-u-md-4-4">
        <div class="h-box">
            {{ render_pagination(pagination) }}
        </div>
    </div>

{% endblock %}
