{% extends 'base.html' %}
{% block head %}

{% if video['exists_ac'] %}
  {% set thumb_url = config.ACIPROXYHUGE ~ config.VIDEOSERVER_URL ~ video['extractor_data'] ~ '/' ~ video['thumbnail_ac'] %}
{% elif video['thumbnail'] %}
  {% set thumb_url = config.IPROXYHUGE ~ config.IARCHIVEURL ~ video['extractor_data'] ~ '/' ~ video['thumbnail'] %}
{% elif video['exists_ia'] %}
  {% set thumb_url = config.IPROXY ~ config.IARCHIVEURL ~ video['extractor_data'] ~ '/__ia_thumb.jpg' %}
{% else %}
  {% set thumb_url = config.VIDEO_THUMB_ERROR_IMAGE %}
{% endif %}

<meta name="thumbnail" content="{{ thumb_url }}">
<meta name="keywords" content="{{ video['tags'] }}">
<meta name="twitter:card" content="player">

<meta property="og:image:width" content="448">
<meta property="og:image:height" content="252">
<!--
<meta property="og:image:type" content="image/webp">
-->

<meta name="twitter:image" content="{{ thumb_url }}">
<meta property="og:image" content="{{ thumb_url }}">
<meta property="og:image:secure_url" content="{{ thumb_url }}">

<meta name="twitter:url" content="{{ config['MYSERVER_URL'] }}/watch?v={{ video_id }}">
<meta name="twitter:player" content="{{ config['MYSERVER_URL'] }}/embed/{{ video_id }}">
<meta name="twitter:player:width" content="1280">
<meta name="twitter:player:height" content="720">

<meta name="twitter:site" content="@altcensored">
<meta name="twitter:title" content="{{ video['title'] }}">
<meta name="twitter:description" content="{{ video['description'] }} (Published on {{ video['published'].strftime('%b %e, %G') if video['published'] else '' }})">

<meta property="og:site_name" content="{{ config['MYSERVER_NAME'] }}">
<meta property="og:url" content="https://{{ config['MYSERVER_NAME'] }}/watch?v={{ video['extractor_data'] }}">
<meta property="og:title" content="{{ video['title'] }}">
<meta property="og:description" content="{{ video['description'] }} (Published on {{ video['published'].strftime('%b %e, %G') if video['published'] else '' }})">
<meta property="og:type" content="article">

<!--
<meta property="og:image" content="{{ video_url_short }}__ia_thumb.jpg">
<meta property="og:image:secure_url" content="{{ video_url_short }}__ia_thumb.jpg">
-->
<meta name="og:video" content="{{ config['MYSERVER_URL'] }}/embed/{{ video_id }}">

<style>
@media screen and (max-width: 47.999em) {
  .watch-left   { order: 2; }
  .watch-center { order: 1; }
  .watch-right  { order: 3; }
}
</style>

<meta name="altcen_title" content=
"{% block title %}{{ video['title'] | striptags | truncate(length=56,killwords=False,end='',leeway=0) }}{% endblock %}">

<meta name="altcen_meta_description" content="{% block description %}Limited Censored YouTube Video: {{ video['description'] }} (Published on {{ video['published'].strftime('%b %e, %G') if video['published'] else '' }}){% endblock %}>
<link rel="image_src" href="{% block imagesrc %}{{ thumb_url }}{% endblock %}">

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "{{ video['title'] | e }}",
  "description": "{{ video['description'] | truncate(500) | e if video['description'] else video['title'] | e }}",
  "thumbnailUrl": "{{ thumb_url }}",
  "uploadDate": "{{ video['published'].strftime('%Y-%m-%dT%H:%M:%SZ') if video['published'] else '' }}",
  "duration": "{{ video['duration'] | iso8601duration if video['duration'] else '' }}",
  "contentUrl": "{{ config['MYSERVER_URL'] }}/watch?v={{ video['extractor_data'] }}",
  "embedUrl": "{{ config['MYSERVER_URL'] }}/embed/{{ video['extractor_data'] }}",
  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": "https://schema.org/WatchAction",
    "userInteractionCount": {{ video['yt_views'] if video['yt_views'] else 0 }}
  },
  "author": {
    "@type": "Person",
    "name": "{{ video['ytc_title'] | e if video['ytc_title'] else '' }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "altCensored",
    "url": "{{ config['MYSERVER_URL'] }}"
  }
}
</script>

{% endblock %}
{% block content %}

<script src="{{ url_for('static', filename='js/shareon.iife.js') }}" defer init></script>

<div class="pure-g">
  <div class="pure-u-1 pure-u-md-2-24"></div>
  <div class="pure-u-1 pure-u-md-20-24">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-1">
        <div class="h-box">
          <div style="left: 0px;
          width: 100%;
          height: 0px;
          position: relative;
          padding-bottom: 56.25%">
                  {% if playlist %}
                      <iframe id="video-iframe" src="{{ url_for('video.embed', video_id=video_id, playlist=playlist.hashid) }}"
                  {% elif userlist %}
                      <iframe id="video-iframe" src="{{ url_for('video.embed', video_id=video_id, userlist=userlist) }}"
                  {% else %}
                      <iframe id="video-iframe" src="{{ url_for('video.embed', video_id=video_id) }}"
                  {% endif %}
          scrolling="no" frameborder="0" allowfullscreen allow="autoplay; encrypted-media; fullscreen"
          style="top: 0px; left: 0px; width: 100%; height: 100%; position: absolute;">
          </iframe>
          </div>
          <h2>{{ video['title'] }}</h2>
        </div>
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-5 watch-left">
            <div class="h-box">


<div class="shareon" data-url="{{ config['MYSERVER_URL'] }}/watch?v={{ video_id }}"
     data-title="{{ video['title'] | truncate(60, False, '') | pprint + '; Channel: ' + video['ytc_title']  | truncate(95, False, '')
     | pprint + '\n' }}">
  <a class="facebook" data-fb-app-id="225377455209362" data-hashtags="RemovedFromYouTube" </a>
  <a class="twitter" data-hashtags="RemovedFromYouTube"></a>
  <a class="telegram"</a>
  <a class="copy-url"></a>
  <a class="whatsapp"></a>
  <a class="email"></a>
</div>
              <a href="https://www.youtube.com/watch?v={{ video['extractor_data'] }}" target="_blank" style="display:inline-block; margin-top: 0.5em;">
                {{ gettext('Status on') }} YouTube
              </a>
              <br>

                <p></p>
              {% if video['yt_views'] %}YouTube {{ gettext('Views') }}:&nbsp;{{ video['yt_views']|commafy }}<br>{% endif %}
              {% if video['category'] %}{{ gettext('Category') }}:&nbsp;
              <a href="{{ url_for('category.item', cat_id = cat_id) }}">
               {{ video['category'] }}</a>{% endif %}
              <p></p>

                {% if session.user %}
                    <form class="pure-form" method="post" action="{{ url_for('playlist.add_video_playlist') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" id="v" name="v" value="{{ video_id }}">
                        <input type="hidden" id="url_original" name="url_original" value="{{ current_url }}">
                        <fieldset>
                            <div class="pure-control-group">
                                <label for="AddtoPlaylist"></label>
                                <select id="playlist_title" name="playlist_title" required>
                                    <option value="" selected>{{ gettext('Select Playlist') }}</option>
                                    {% for playlist_title in playlist_titles %}
                                        <option value="{{ playlist_title }}">{{ playlist_title }}</option>"
                                    {% endfor %}
                                {% if not_in_watchlater %}
                                    <option value="add_to_watchlater">{{ gettext('WatchLater') }}</option>"
                                {% endif %}
                                </select>
                            </div>
                            <p>
                            <div class="pure-controls">
                                <button class="pure-button" type="submit" name="submitvalue">{{ gettext('Add to Playlist') }}</button>
                            </div></p>
                        </fieldset>
                    </form>
                  {% endif %}
              {% if tags is not none %}
                  {% for tag in tags %}
                      {% if loop.index is lt 13 %}
              {% if loop.first %}
              <a href=https://{{ config['MYSERVER_NAME'] }}/search?q={{tag|spaceplus}}>
              {{tag}}&nbsp;</a>
              {% else %}
              <b>|</b>
              <a href=https://{{ config['MYSERVER_NAME'] }}/search?q={{tag|spaceplus}}>{{tag}}&nbsp;
              </a>
              {% endif %}
              {% else %}
              {% endif %}
              {% endfor %}
              {% else %}
              {% endif %}
<!--                <div class="footer">
                    <ins data-altcen-zoneid="2" data-altcen-id="{{ config.REV_ID }}"></ins>
                    <script async src="//partner.altcensored.com/www/ac_delivery/asyncjs_ac.php"></script>
                </div>
-->
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-3-5 watch-center">
            <div class="h-box">
              <a href="{{ url_for('channel.item', ytc_id=video['ytc_id']) }}">
                <img src="{{ config.ACIPROXY ~ config.VIDEOSERVER_URL ~ channel['ytc_thumbnail'] }}" height="35" width="35"
                onerror="this.onerror=null;this.src='{{ config.CHANNEL_THUMB_ERROR_IMAGE }}';">
              </a>&nbsp; &nbsp;
                <h3 style="display:inline"><a href="{{ url_for('channel.item', ytc_id=video['ytc_id']) }}">{{ video['ytc_title'] }}
              </a></h3>&nbsp;
              {% if channel['ytc_deleted'] %}
              <img class="thumbnail deleted-x" src="https://{{ config['MYSERVER_NAME'] }}/x.gif">
              </style>
              {% else %}
              {% endif %}
              {% if video['published'] %}<h4>{{ gettext('Published on') }} {{ video['published'].strftime('%b %e, %G') }}</h4>{% endif %}
                {% if video['description']  is not none %}
                  {{ video['description'] | linkify | safe | nl2br }}
                {% endif %}
              <hr>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-5 watch-right">
              <div class="h-box autoplay-row">
                <form method="post" action="">
                    {% if playnext %}
                          <input type="checkbox" id="playnext" name="playnext" value="True" form="addtoplaylist" \
                            checked onchange="togglePlayNext(event);"
                    {% else %}
                          <input type="checkbox" id="playnext" name="playnext" value="False" form="addtoplaylist" \
                            onchange="togglePlayNext(event);">
                    {% endif %}
                    <label for playnext>&nbsp;&nbsp;{{ gettext('AutoPlay Next Video') }} </label>
                </form>
              </div>
            {% for video in videos %}
            <div class="h-box">
              {% if playlist %}
              <a style="width:100%;" href="{{ url_for('video.watch', v=video['extractor_data'], playlist=playlist.hashid) }}">
              {% elif userlist %}
              <a style="width:100%;" href="{{ url_for('video.watch', v=video['extractor_data'], userlist=userlist) }}">
              {% else %}
              <a style="width:100%;" href="{{ url_for('video.watch', v=video['extractor_data']) }}">
              {% endif %}
              <div class="thumbnail">


          {% if  video['exists_ac'] %}
              <img class="thumbnail" src="{{ config.ACIPROXYHUGE~ config.VIDEOSERVER_URL ~ video['extractor_data'] ~ '/' ~ video['thumbnail_ac'] }}"
                   onerror="this.onerror=null;this.src='{{ config.VIDEO_THUMB_ERROR_IMAGE }}';">
          {% elif video['thumbnail'] %}
              <img class="thumbnail" src="{{ config.IPROXYHUGE~ config.IARCHIVEURL ~ video['extractor_data'] ~ '/' ~ video['thumbnail'] }}"
                   onerror="this.onerror=null;this.src='{{ config.VIDEO_THUMB_ERROR_IMAGE }}';">
          {% elif video['exists_ia'] %}
              <img class="thumbnail" src="{{ config.IPROXY ~ config.IARCHIVEURL ~ video['extractor_data'] ~ '/__ia_thumb.jpg' }}"
                   onerror="this.onerror=null;this.src='{{ config.VIDEO_THUMB_ERROR_IMAGE }}';">
          {% else %}
              <img class="thumbnail" src="{{ config.VIDEO_THUMB_ERROR_IMAGE }}">
          {% endif %}

                {% if video['duration']  is not none %}
                <p class="length">{{ video['duration'] | hourminsec }}</p>
                {% else %}
                {% endif %}
              </div></a>
              <p style="min-height: 3em; margin: 0;">
              {% if playlist %}
              <a href="{{ url_for('video.watch', v=video['extractor_data'], playlist=playlist.hashid) }}">
              {% elif userlist %}
              <a href="{{ url_for('video.watch', v=video['extractor_data'], userlist=userlist) }}">
              {% else %}
              <a href="{{ url_for('video.watch', v=video['extractor_data']) }}">
              {% endif %}
              {{ video['title'] | truncate(65, true, '…') }}</a>
              </p>
              <h5 class="pure-g video-meta">
                <div class="pure-u-2-3">
                  {% if video['published'] %}{{ video['published'].strftime('%b %e, %G') }}{% endif %}
                </div>
                <div class="pure-u-1-3" style="text-align:right">
                  {% if video['yt_views'] %}{{ video['yt_views']|viewdisplay }} {{ gettext('views') }}{% endif %}
                </div>
              </h5>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="application/javascript">
  function togglePlayNext(event){
    var checked = event.target.checked;
    fetch('play-next', {
      method: 'POST',
      body: JSON.stringify({
        'checked': checked
      })
    }).then(() => {
      document.getElementById('video-iframe').contentWindow.postMessage(JSON.stringify({type: 'toggle-play-next', checked: checked}))
    });
  }
</script>

{% endblock %}