Babel
backports.csv
bcrypt>=4.2,<5.0
better-profanity>=0.7,<1.0
bleach>=6.2,<7.0
Flask-Limiter[redis]
nh3>=0.3,<1.0
boto3>=1.24.19,<2.0
botocore>=1.27.19,<2.0
captcha
certifi
cffi
chardet
click
contextlib2
dnspython
docopt
email-validator>=2.2,<3.0
Flask>=3.0,<4.0
Flask-BabelPlus>=2.2,<3.0
Flask-Login>=0.6,<1.0
Flask-QRcode
Flask-SeaSurf
Flask-WTF>=1.2,<2.0
flask-caching>=2.3,<3.0
flask-mail
flask-talisman
gevent>=24.11,<25.0
greenlet>=3.1,<4.0
gunicorn>=23.0,<24.0
hashids>=1.3,<2.0
idna
internetarchive
itsdangerous>=2.2,<3.0
Jinja2>=3.1,<4.0
jmespath
jsonpatch
jsonpointer
mailjet-rest
MarkupSafe>=3.0,<4.0
minio>=7.2,<8.0
monotonic
packaging
Pillow>=11.1,<12.0
PyJWT>=2.10,<3.0
psycogreen
psycopg2>=2.9,<3.0
pycparser
pyparsing
python-dateutil
python-http-client
pysocks
pytz
qrcode
redis>=5.2,<6.0
requests>=2.32,<3.0
s3transfer
schema
sendgrid
sentry-sdk[flask]
six
altcen-models @ git+https://github.com/altCensored/altcen-models.git
SQLAlchemy>=2.0,<3.0
sqlalchemy-datatables
starkbank-ecdsa
timeago>=1.0,<2.0
total-ordering
tqdm
urllib3>=2.0.7,<3.0
webencodings
Werkzeug>=3.1,<4.0
WTForms>=3.2,<4.0
