Babel
backports.csv
bcrypt
better-profanity
bleach
boto3>=1.24.19
botocore>=1.27.19
captcha
certifi
cffi
chardet
click
contextlib2
dnspython
docopt
email-validator
Flask==2.3.3
flask-caching
Flask-BabelPlus
Flask-QRcode
Flask-SeaSurf
flask-talisman
gevent
greenlet
gunicorn
hashids
idna
internetarchive
itsdangerous
Jinja2
jmespath
jsonpatch
jsonpointer
mailjet-rest
MarkupSafe
minio
monotonic
packaging
Pillow
psycogreen
psycopg2
pycparser
pyparsing
python-dateutil
python-http-client
pysocks
pytz
qrcode
redis
requests
s3transfer
schema
sendgrid
sentry-sdk[flask]
six
SQLAlchemy==1.4.49
sqlalchemy-datatables
starkbank-ecdsa
timeago
total-ordering
tqdm
urllib3<=1.26.15
webencodings
Werkzeug
