<div class="pure-g">
    <div class="pure-u-1-4"></div>
    <div class="pure-u-1 pure-u-md-1-2">
        <div class="pure-g">
            <div class="pure-u-1-3" style="text-align:center">
                <span class="nav-tooltip">
                    <a href="{{ url_for('settings.update_site') }}" style="text-align:center;" class="pure-menu-heading {{ 'selected' if active_settings == 'site' }}">
                        <img height="22px" src="{{ url_for('static', filename='flags/by_locale') }}/{{locale}}.svg">
                        {{ gettext('Site') }}</a>
                    <span class="nav-tip-text">{{ gettext('Language, theme and playback preferences') }}</span>
                </span>
            </div>
            {% if session.user %}
            <div class="pure-u-1-3" style="text-align:center">
                <span class="nav-tooltip center">
                    <a href="{{ url_for('user.item', username=session.user.username) }}" style="text-align:center;" class="pure-menu-heading {{ 'selected' if active_settings == 'user' }}">
                        <i class='ion-ios-contact' style="font-size: 24px"></i>
                        {{ gettext('User') }}</a>
                    <span class="nav-tip-text">{{ gettext('Profile, email and account settings') }}</span>
                </span>
            </div>
            <div class="pure-u-1-3" style="text-align:center">
                <span class="nav-tooltip flip">
                    <a href="{{ url_for('user.playlist') }}" style="text-align:left;" class="pure-menu-heading {{ 'selected' if active_settings == 'playlist' }}">
                        <i class='ion-md-list' style="font-size: 24px"></i>
                        {{ gettext('Playlist') }}</a>
                    <span class="nav-tip-text">{{ gettext('Create and manage your playlists') }}</span>
                </span>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="pure-u-1-4"></div>
</div>
