{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
{% with active_nav='playlist' %}
    {% include "widgets/navtabs.html" %}
{% endwith %}

<br>
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-2-24"></div>
  <div class="pure-u-1 pure-u-md-20-24">
    <div class="pure-g h-box">
      <div class="pure-u-1-2">
        <div class="pure-u-1 pure-md-1-1">
          <i class='ion-md-list'  style="font-size: 24px"></i>
          <b>&nbsp;{{ playlistcount | commafy }}</b>
        </div>
      </div>
      <div class="pure-u-1-2">
        <div class="pure-g" style="text-align:right">
          <div class="pure-u-1 pure-md-1-1">
            {% if session.user %}
            <a href="{{ url_for('playlist.create') }}">
              <i class='ion-md-add' style="font-size: 24px"></i>&nbsp;</a>
            {% endif %}  
          </div>
        </div>
      </div>
    </div>
    <div class="h-box">
      <hr>
    </div>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1 pure-u-md-2-24"></div>
  <div class="pure-u-1 pure-u-md-20-24">
    <div class="pure-g">
      {% for playlist in playlists %}
      <div class="pure-u-1 pure-u-md-1-4">
        <div class="h-box">
          <a href="{{ url_for('playlist.item', playlist=playlist.id ) }}">
            <b>{{ playlist.title }}</b>
            <br>
            <br>
            {{ playlist.description }}
            <br>
            {{ playlist.video_count }}
            <hr>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% from "_helpers.html" import render_pagination %}
      <div class="pure-u-1 pure-u-md-4-4">
         <div class="h-box">
          {{ render_pagination(pagination) }}
         </div>
      </div>

{% endblock %}