{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block content %}

{% with active_nav='auth' %}
    {% include "widgets/navtabs.html" %}
{% endwith %}

<br>
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-2-24"></div>
  <div class="pure-u-1 pure-u-md-20-24">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-1">
        <div class="h-box">
          {{ gettext('Create Playlist') }} 
          <hr>
          <form class="pure-form pure-form-aligned" name="create_playlist" method="post">
            <fieldset>
              <div class="pure-control-group">
                <label for="Title">{{ gettext('Title') }}:</label>
                <input type=text id=title placeholder="Title" name=title required maxlength="18">
              </div>
              <div class="pure-control-group">
                <label for="Description">{{ gettext('Description') }}:</label>
                <input type=text id=description placeholder="Description" name=description size="30" required maxlength="50">
              </div>
              <div class="pure-control-group">
                <label for="Privacy">{{ gettext('Privacy') }}:</label>
                <select name=privacy>
                  <option value=True SELECTED>Public</option>"           
                  <option value=False>Private</option>"
                </select>
              </div>

              <div class="pure-control-group">
                <label for="Videos">
                <i class='ion-md-add-circle' style="font-size: 24px"></i></a>
                
                {{ gettext('Videos') }}:</label>

                <button class="pure-button" type="submit" name="submitvalue" value="history">
                <i class='ion-md-done-all'  style="font-size: 24px"></i>
                {{ gettext('History') }}
                </button>

                <button class="pure-button" type="submit" name="submitvalue" value="watchlater">
                <i class='ion-md-time'  style="font-size: 24px"></i>
                {{ gettext('WatchLater') }}
                </button>

                <button class="pure-button" type="submit" name="submitvalue" value="search">
                <i class='ion-md-search'  style="font-size: 24px"></i>
                {{ gettext('Search') }}
                </button>
              </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>   

{% endblock %}
