{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
{% with active_nav='playlist' %}
    {% include "widgets/navtabs.html" %}
{% endwith %}

<br>
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-2-24"></div>
  <div class="pure-u-1 pure-u-md-20-24">
    <div class="pure-g h-box">
      <div class="pure-u-1-2">
        <div class="pure-u-1 pure-md-1-1">
          <i class='ion-md-list'  style="font-size: 24px"></i>
          &nbsp;<b>{{ playlist.title }}</b>
          <br>
          <br>
        </div>
      </div>
      <div class="pure-u-1-2">
        <div class="pure-u-1 pure-md-1-1" style="text-align:right">
          {% if session.user and session.user.id == playlist.user_id %}
          <a href="{{ url_for('playlist.edit', playlist=playlist.id ) }}">
            <i class='ion-md-create' style="font-size: 24px"></i></a>
            &nbsp;&nbsp;
            <a href="{{ url_for('playlist.delete', playlist=playlist.id, original_url=current_url ) }}">
            <i class='ion-md-trash' style="font-size: 24px"></i></a>
          {% endif %}
        </div>
      </div>
      <div class="pure-u-1-1">
        <div class="pure-u-1 pure-md-1-1">
          <i class='ion-logo-youtube'  style="font-size: 20px"></i>
          <b>&nbsp;{{ playlist.video_count }}</b>
          <b>&nbsp;|&nbsp;</b>
          <i class='ion-md-eye'  style="font-size: 20px"></i>
          <b>&nbsp;{{ playlist.view_counter }}</b>
          <b>&nbsp;|&nbsp;</b>
          <i class='ion-md-create'  style="font-size: 20px"></i>
          <b>&nbsp;{{ timediff }}</b>



          {% if session.user and session.user.id == playlist.user_id %}
            {% if playlist.public  %}
              <b>&nbsp;|&nbsp;</b>
              <i class='ion-md-globe'  style="font-size: 20px"></i>
              <b>Public</b>
            {% else %}
              <b>&nbsp;|&nbsp;</b>
              <i class='ion-md-lock'  style="font-size: 20px"></i>
              <b>Private</b>
            {% endif %}
          {% else %}
            <b>&nbsp;|&nbsp;</b>
            <i class='ion-ios-contact'  style="font-size: 20px"></i>
            <b>{{ playlist.user.username }}</b>
          {% endif %}


          <br><br>
          {{ playlist.description }}     
        </div>
      </div>
      <div class="pure-u-1-2">
        <div class="pure-u-1 pure-md-1-1">
        </div>
      </div>
      <div class="pure-u-1-2">
        <div class="pure-u-1 pure-md-1-1" style="text-align:right">
          {% if session.user and session.user.id == playlist.user_id %}
          <a href="{{ url_for('playlist.edit', playlist=playlist.id ) }}">
            <i class='ion-md-add' style="font-size: 24px"></i></a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="h-box">
      <hr>
    </div>
      {% for video in videos %}
      <div class="pure-u-1 pure-u-md-1-4">
        <div class="h-box">
          <a style="width:100%;" href="{{ url_for('video.watch', v=video['extractor_data']) }}">
            <div class="thumbnail">
              <img class="thumbnail" src="{{ config.IPROXYBIG ~ config.IARCHIVEURL ~ video['extractor_data'] ~ '/' ~ video['title'] | ia_fname ~ '-' ~ video['extractor_data'] ~ '.jpg' }}"
              onerror="this.onerror=null;this.src='{{ config.IPROXYBIG ~ config.IARCHIVEURL ~ video['extractor_data'] ~ '/__ia_thumb.jpg' }}';" >
              {% if video['duration']  is not none %}
              <p class="length">{{ video['duration'] | hourminsec }}</p>
              {% else %}
              {% endif %}
              {% if session.user and video.id in watchlater %}
              <a class="action" href="{{ url_for('user.remove_video_watchlater')}}?v={{video.extractor_data}}&original_url={{ current_url }}">
                <div class="watchlater has-tooltip"> <i class='ion-md-checkmark' style="font-size: 24px"></i> <span class="tooltip">Remove video from Watch Later</span></div>
              </a>
              {% else %}
              <a class="action" href="{{ url_for('user.add_video_watchlater')}}?v={{video.extractor_data}}&original_url={{ current_url }}">
                <div class="watchlater has-tooltip"> <i class='ion-md-time' style="font-size: 24px"></i> <span class="tooltip">Add video to Watch Later</span></div>
              </a>
              {% endif %}
            </div>
          </a>
          <p>
            <a class="action" href="{{ url_for('video.watch', v=video['extractor_data']) }}">
          {{ video['title'] }}</a></p>
          <p>
            <b><a style="width:100%;" href="{{ url_for('channel.item', ytc_id=video['ytc_id']) }}">
            {{ video['ytc_title'] }}</a></b></p>
            <h5 class = "pure-g">
              <div class="pure-u-2-3">
              {{ gettext('Published') }} {{ video['published'].strftime('%b %e, %G') }}
              </div>
              <div class="pure-u-1-3" style="text-align:right">
              {{ video['yt_views']|viewdisplay }} {{ gettext('views') }}
              </div>
            </div>
          </div>
        {% endfor %}

  </div>
</div>

{% endblock %}