<!doctype html>
<html>
    <body>
        <p>Dear {{ user.username }},</p>
        <p>
            Together we are stronger! Please confirm your email for full access:
            <a href="{{ url_for('auth3.confirm_email', token=token, _external=True) }}">
                click here
            </a>.
        </p>
        <p>Alternatively, you can paste the following link in your browser's address bar:</p>
        <p>{{ url_for('auth3.confirm_email', token=token, _external=True) }}</p>
        <ul>
            <li>create & share playlist links (example: https://altcensored.com/playlist/ACe1qZRVGYn1qN7yXNnRXQPe)</li>
            <li>modify & share user account links: (example: https://altcensored.com/user/admin)</li>
            <li>personal 'history' (automatic) and 'watchlater' lists</li>
        </ul>
        <p>You have been subscribed to our monthly newsletter. To unsubscribe:</p>
        <ul>
            <li>'Settings' (cog icon top right all screens)</li>
            <li>'User', 'Edit' (pencil icon), 'Email Subscribed' (choose 'False'), button 'Update User'</li>
        </ul>
        <p>Sincerely,</p>
        <p>altCensored.com</p>
    </body>
</html>
