{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
{% with active_nav='user' %}
    {% include "widgets/navtabs.html" %}
{% endwith %}

<div class="pure-g">
  <div class="pure-u-1 pure-u-md-2-24"></div>
  <div class="pure-u-1 pure-u-md-20-24">
    <div class="pure-g h-box">
      <div class="pure-u-1-2">
        <div class="pure-u-1 pure-md-1-4">
        </div>
        {% if session.user %}
        <div class="pure-u-1 pure-md-2-4">
          <a href="{{ url_for('user.item', username=session.user.username) }}">
          <b>{{ session.user.username }}</b></a>
          &nbsp;
          <a href="{{ url_for('settings.index') }}?original_url={{ current_url }}"}}">
          <i class='ion-md-create' style="font-size: 24px"></i></a>
        </div>
        {% else %}
        <div class="pure-u-1 pure-md-1-4">
        </div>
        <div class="pure-u-1 pure-md-1-4">
        </div>
        {% endif %}
        <div class="pure-u-1 pure-md-1-4">
          <i class='ion-ios-contacts'  style="font-size: 24px"></i>
          <b>&nbsp;{{ usercount | commafy }}</b>
        </div>
      </div>
      <div class="pure-u-1-2" style="text-align:right">
        <div class="pure-u-1 pure-md-1-4">
        </div>
        <div class="pure-u-1 pure-md-1-4">
        </div>
        <div class="pure-u-1 pure-md-1-4">
          <a href="{{ url_for('user.index') }}" class="pure-menu-item {{'selected' if order == 'newest' }}">
          {{ gettext('newest') }}</a>
        </div>
        <div class="pure-u-1 pure-md-1-4">
          <a href="{{ url_for('user.popular') }}" class="pure-menu-item {{'selected' if order == 'popular' }}">
          {{ gettext('popular') }}</a>
        </div>
    </div>
    </div>
    <div class="h-box">
      <hr>
    </div>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1 pure-u-md-2-24"></div>
  <div class="pure-u-1 pure-u-md-20-24">
    <div class="pure-g">
      {% for user in users %}
      <div class="pure-u-1 pure-u-md-1-4">
        <div class="h-box">
          <a href="{{ url_for('user.item', username=user.username) }}">
            <b>{{ user.username }}</b></a>
            <br>
            <br>
            {{ user.description | linkify | safe }}
            <br>
            Views:&nbsp;{{ user.view_counter }}
            <hr>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
    
{% from "_helpers.html" import render_pagination %}
<div class="pure-u-1 pure-u-md-4-4">
  <div class="h-box">
    {{ render_pagination(pagination) }}
  </div>
</div>

{% endblock %}
