{% extends 'base.html' %}
{% block head %}
<link rel="preload" as="style" href="{{ url_for('static', filename='css/buttons-core.css') }}">
<link rel="preload" as="style" href="{{ url_for('static', filename='css/buttons.css') }}">

{% endblock %}
{% block content %}

{% with active_nav='settings' %}
    {% include "widgets/navtabs.html" %}
{% endwith %}

    <br>
    <br>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-2-24"></div>
        <div class="pure-u-1 pure-u-md-20-24">
            <div class="pure-g h-box">
                <div class="pure-u-1-4">
                    <div class="pure-u-1 pure-md-1-1">
                        <a href="{{ url_for('settings.update_site') }}">
                            <img height="22px" src="{{ url_for('static', filename='flags/by_locale') }}/{{locale}}.svg">
                            <b>{{ gettext('Site') }}</b></a>
                    </div>
                </div>
                <div class="pure-u-1-4" style="text-align:center;">
                    <div class="pure-u-1 pure-md-1-1">
                        <a href="{{ url_for('vpn.index') }}">
                            <i class='ion-ios-globe' style="font-size: 24px"></i>
                            <b>{{ gettext('VPN') }}</b></a>
                    </div>
                </div>
                {% if session.user %}
                    <div class="pure-u-1-4" style="text-align:center;">
                        <div class="pure-u-1 pure-md-1-1">
                            <a href="{{ url_for('user.item', username=session.user.username) }}">
                                <i class='ion-ios-contact' style="font-size: 24px"></i>
                                <b>{{ gettext('User') }}</b></a>
                        </div>
                    </div>
                    <div class="pure-u-1-4" style="text-align:right;">
                        <div class="pure-u-1 pure-md-1-1">
                            <a href="{{ url_for('user.playlist') }}">
                                <i class='ion-md-list' style="font-size: 24px"></i>
                                <b>{{ gettext('Playlist') }}</b></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        <div class="h-box">

            {% if session['user']['username'] == 'admin' or
            session['user']['username'] == 'lc' or
            session['user']['username'] == 'jiveandwail' or
            session['user']['username'] == 'SeenTheLight' %}

                <br>
                {% if conns %}
                <h3>Your VPN Connections</h3>

                   {% for conn in conns %}

                    <details><summary>
                    <b><u>{{ conn.vpn_node_name }}</b></u>
                    </summary>

                    <label for={{ conn.vpn_node_name }}>{{ conn.vpn_node_name }}&nbsp;&nbsp;&nbsp;{{ conn.bw_limit }}&nbsp;&nbsp;&nbsp;{{ conn.publickey }}</label><br>

                    <br>

                    <form action="{{ url_for('vpn.conn_action') }}" >
                    <button class="pure-button" type="submit" name="download" value="{{ conn.id }}">{{ gettext('Download') }}</button>&nbsp;&nbsp;&nbsp;
                    <button class="pure-button" type="submit" name="qrcode" value="{{ conn.id }}">{{ gettext('QR Code') }}</button>
                    <button class="pure-button" type="submit" name="email" value="{{ conn.id }}">{{ gettext('Email') }}</button>&nbsp;&nbsp;&nbsp;
                    </form>
                    <br>
                    <br>
                    </details>
                    {% endfor %}
                    <br>

                {% else %}
                {% endif %}
                <br>
                {% if nodes %}
                <h3>VPN Nodes</h3>
                <form class="pure-form">
                <fieldset>
                  <div class="pure-controls">
                    {% for node in nodes %}
                    <input type="radio" id={{ node.name }} name= 'node' value={{ node.name }} ><label for={{ node.name }}>{{ node.name }}</label>
                    {% endfor %}
                    <br>
                    <br>
                        <button class="pure-button" type="submit" name="submit" value="new_conn">{{ gettext('Create New Connection') }}</button>
                  </div>
                </fieldset>
                </form>
                {% else %}
                {% endif %}
                <br>
                {% if tdata %}
                {{ tdata }}
                {% endif %}

            {% else %}

            <br>
            <div class="thumbnail">
                <img class="thumbnail" src="https://altCensored.com/freevpn_5m.png" >
            </div>
            <center><h2>Coming Soon - Check Back</h2></center>
            "WireGuard" is a registered trademark of Jason A. Donenfeld.
            <br>
            <br>

            {% endif %}
        </div>
      </div>
    </div>
<p></p>
{% endblock %}