{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block content %}

{% with active_nav='about' %}
    {% include "widgets/navtabs.html" %}
{% endwith %}

<br>

<div class="pure-g">
  <div class="pure-u-1 pure-u-md-2-24"></div>
  <div class="pure-u-1 pure-u-md-20-24">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-1">
        <div class="h-box">

        <h2>{{title}}</h2>
        <form method=post enctype=multipart/form-data>
          <input type=file name=file>
          <input type=submit value=Return>
          <br><br>          <br><br>
          <label for="service">Service:</label>
          <select name=service>
            <option value=aws>aws</option>"
            <option value=mjet>mjet</option>"
            <option value=sgrid>sgrid</option>"
          </select>
          <br><br>
          <label for="recipients">Recipients:</label>
          <select name=recipients>
            <option value=admin>admin</option>"
            <option value=friends>friends</option>"
            <option value=verified>verified</option>"
            <option value=subscribed>subscribed</option>"
          </select>
          <br><br>
          <label for="sendlimit"># of Recipients:</label>
          <select name=sendlimit>
            <option value=100>100</option>"
            <option value=75>75</option>"
            <option value=50>50</option>"
            <option value=25>25</option>"
          </select>
          <br><br>
          <label for="subject">subject:</label>
          <input type="text" name="subject">
          <br><br>
          <label for="email_source">Email List Source:</label>
          <select name=email_source>
            <option value=friend>friend</option>"
            <option value=bought1>bought1</option>"
            <option value=bought2>bought2</option>"
          </select>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

<p></p>
{% endblock %}