{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block content %}

{% with active_nav='admin' %}
    {% include "widgets/navtabs.html" %}
{% endwith %}

<br>

<div class="pure-g">
  <div class="pure-u-1 pure-u-md-2-24"></div>
  <div class="pure-u-1 pure-u-md-20-24">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-1">
        <div class="h-box">
        <h2>{{title}}</h2>
        <form method=post enctype=multipart/form-data>
          <br><br>
          <label for="channel_id">Channel ID:</label>
          <input type="text" size="24" minlength="24" maxlength="24" required name="channel_id">
          <br><br>
          <label for="delta">Delta:</label>
          <select name=delta>
            <option value=2>2</option>"
            <option value=1>1</option>"
            <option value=5>5</option>"
            <option value=10>10</option>"
            <option value=15>15</option>
            <option value=30>30</option>
          </select>
          &nbsp;
          <label for="archive_type">Archive Type:</label>
          <select name=archive_type>
            <option value=partial>partial</option>"
            <option value=full>full</option>"
          </select>
          <br><br>
          <input type=submit value=Return>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

<p></p>
{% endblock %}