{% extends "base_login.html" %}

{% block content %}

<br>
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-2-24"></div>
  <div class="pure-u-1 pure-u-md-20-24">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-1">
        <div class="h-box">
            <h2> {{ gettext('Reset') }} {{ gettext('Password') }}</h2>
            <form action="" method="post" class="pure-form pure-form-aligned">
                {{ form.hidden_tag() }}
                <fieldset>
                    <div class="pure-control-group">
                        {{ form.email(size=42) }}
                        {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="cf-turnstile" data-sitekey="{{ cloudflare_site_key }}" data-callback="javascriptCallback" data-theme="light">
                    <div class="pure-control-group">
                        {{ form.submit(class_="pure-button pure-button-primary") }}
                    </div>
                </fieldset>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}